*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
        box-sizing: border-box;
}

body{
    line-height: 1.6em;
    color: #565a5c;
    font-size: 16px;
    margin: 0;
    padding: 0;
    font-family: "Gotham" , sans-serif;
    min-height: 100vh;
    background-color: rgba(158, 158, 158, 0.24);
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;


}


@media screen and (max-width: 768px) {
    body{
        font-size: 14px;
    }
    .about-me-container{
         background-position: -70px -59px;
    }

}

@font-face {
    src: url("../fonts/Gotham%20Rounded");
    font-family: "Gotham" , sans-serif;
}

.wrapper{
    padding: 10px;
    min-width: 80%;
    max-width: 100%;

}

.about-me-container{
    border: 10px solid #fff;
    padding: 30px;
    background: url("../img/bg.svg");
    background-size: cover;
    margin: 0 auto;
    background-position: 0 -59px;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    max-width: 1280px;
}

@media screen and (max-width: 600px )  {
    .about-me-container {
        padding: 15px;

    }
}


nav{
    display: -webkit-flex;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.logo{
    text-decoration: none;
}


.logo h2{
    border: 3px solid lightseagreen;
    padding: 10px 15px;
    color: lightseagreen;
    margin: 0;
}

nav ul{
    padding: 0;
}


nav ul li{
    list-style: none;
    display: inline-block;
    margin-right: 20px;
}

nav ul li a{
    text-decoration: none;
    color: #999;
}

@media screen and (min-width: 768px) {
    .about-me-txt{
        margin: 40px 0 0 60px;

    }
}


.about-me-txt h1{
    line-height: 1.4em;
    font-weight: normal;
}
.about-me-txt span:nth-of-type(1){
    display: block;
}

.about-me-txt span:nth-of-type(2){
    z-index: 2;
    position: relative;
}

.about-me-txt span:nth-of-type(2) span{
    display: inline;
    margin-left: 5px;
}

.about-me-txt p{
    color: #bbbaba;
    font-size: 14px;
}

.about-me-txt .designer{
    font-weight: bolder;
    user-select: none;
    z-index: 1;
    position: relative;
    text-shadow: -1px 1px 0 #CFD1D3, -2px 2px 0 #CFD1D3, -3px 3px 0 #CFD1D3, -4px 4px 0 #CFD1D3, -5px 5px 0 #CFD1D3, -6px 6px 0 #CFD1D3, -7px 7px 0 #CFD1D3, -8px 8px 0 #CFD1D3, -9px 9px 0 #CFD1D3, -10px 10px 0 #CFD1D3, -11px 11px 0 #CFD1D3, -12px 12px 0 #CFD1D3, -13px 13px 0 #CFD1D3, -14px 14px 0 #CFD1D3, -15px 15px 0 #CFD1D3, -16px 16px 0 #CFD1D3, -17px 17px 0 #CFD1D3, -18px 18px 0 #CFD1D3, -19px 19px 0 #CFD1D3, -20px 20px 0 #CFD1D3, -21px 21px 0 #CFD1D3, -22px 22px 0 #CFD1D3, -23px 23px 0 #CFD1D3, -24px 24px 0 #CFD1D3, -25px 25px 0 #CFD1D3, -26px 26px 0 #CFD1D3, -27px 27px 0 #CFD1D3, -28px 28px 0 #CFD1D3, -29px 29px 0 #CFD1D3, -30px 30px 0 #CFD1D3, -31px 31px 0 #CFD1D3, -32px 32px 0 #CFD1D3, -33px 33px 0 #CFD1D3, -34px 34px 0 #CFD1D3, -35px 35px 0 #CFD1D3, -36px 36px 0 #CFD1D3, -37px 37px 0 #CFD1D3, -38px 38px 0 #CFD1D3, -39px 39px 0 #CFD1D3, -40px 40px 0 #CFD1D3, -41px 41px 0 #CFD1D3, -42px 42px 0 #CFD1D3, -43px 43px 0 #CFD1D3, -44px 44px 0 #CFD1D3, -45px 45px 0 #CFD1D3, -46px 46px 0 #CFD1D3, -47px 47px 0 #CFD1D3, -48px 48px 0 #CFD1D3, -49px 49px 0 #CFD1D3, -50px 50px 0 #CFD1D3, -51px 51px 0 #CFD1D3, -52px 52px 0 #CFD1D3, -53px 53px 0 #CFD1D3, -54px 54px 0 #CFD1D3, -55px 55px 0 #CFD1D3, -56px 56px 0 #CFD1D3, -57px 57px 0 #CFD1D3, -58px 58px 0 #CFD1D3, -59px 59px 0 #CFD1D3, -60px 60px 0 #CFD1D3, -61px 61px 0 #CFD1D3, -62px 62px 0 #CFD1D3, -63px 63px 0 #CFD1D3, -64px 64px 0 #CFD1D3, -65px 65px 0 #CFD1D3, -66px 66px 0 #CFD1D3, -67px 67px 0 #CFD1D3, -68px 68px 0 #CFD1D3, -69px 69px 0 #CFD1D3, -70px 70px 0 #CFD1D3, -71px 71px 0 #CFD1D3, -72px 72px 0 #CFD1D3, -73px 73px 0 #CFD1D3, -74px 74px 0 #CFD1D3, -75px 75px 0 #CFD1D3, -76px 76px 0 #CFD1D3, -77px 77px 0 #CFD1D3, -78px 78px 0 #CFD1D3, -79px 79px 0 #CFD1D3, -80px 80px 0 #CFD1D3, -81px 81px 0 #CFD1D3, -82px 82px 0 #CFD1D3, -83px 83px 0 #CFD1D3, -84px 84px 0 #CFD1D3, -85px 85px 0 #CFD1D3, -86px 86px 0 #CFD1D3, -87px 87px 0 #CFD1D3, -88px 88px 0 #CFD1D3, -89px 89px 0 #CFD1D3, -90px 90px 0 #CFD1D3, -91px 91px 0 #CFD1D3, -92px 92px 0 #CFD1D3, -93px 93px 0 #CFD1D3, -94px 94px 0 #CFD1D3, -95px 95px 0 #CFD1D3, -96px 96px 0 #CFD1D3, -97px 97px 0 #CFD1D3, -98px 98px 0 #CFD1D3, -99px 99px 0 #CFD1D3, -100px 100px 0 #CFD1D3, -101px 101px 0 #CFD1D3, -102px 102px 0 #CFD1D3, -103px 103px 0 #CFD1D3, -104px 104px 0 #CFD1D3, -105px 105px 0 #CFD1D3, -106px 106px 0 #CFD1D3, -107px 107px 0 #CFD1D3, -108px 108px 0 #CFD1D3, -109px 109px 0 #CFD1D3, -110px 110px 0 #CFD1D3, -111px 111px 0 #CFD1D3, -112px 112px 0 #CFD1D3, -113px 113px 0 #CFD1D3, -114px 114px 0 #CFD1D3, -115px 115px 0 #CFD1D3, -116px 116px 0 #CFD1D3, -117px 117px 0 #CFD1D3, -118px 118px 0 #CFD1D3, -119px 119px 0 #CFD1D3, -120px 120px 0 #CFD1D3, -121px 121px 0 #CFD1D3, -122px 122px 0 #CFD1D3, -123px 123px 0 #CFD1D3, -124px 124px 0 #CFD1D3, -125px 125px 0 #CFD1D3, -126px 126px 0 #CFD1D3, -127px 127px 0 #CFD1D3, -128px 128px 0 #CFD1D3, -129px 129px 0 #CFD1D3, -130px 130px 0 #CFD1D3, -131px 131px 0 #CFD1D3, -132px 132px 0 #CFD1D3, -133px 133px 0 #CFD1D3, -134px 134px 0 #CFD1D3, -135px 135px 0 #CFD1D3, -136px 136px 0 #CFD1D3, -137px 137px 0 #CFD1D3, -138px 138px 0 #CFD1D3, -139px 139px 0 #CFD1D3, -140px 140px 0 #CFD1D3, -141px 141px 0 #CFD1D3, -142px 142px 0 #CFD1D3, -143px 143px 0 #CFD1D3, -144px 144px 0 #CFD1D3, -145px 145px 0 #CFD1D3, -146px 146px 0 #CFD1D3, -147px 147px 0 #CFD1D3, -148px 148px 0 #CFD1D3, -149px 149px 0 #CFD1D3, -150px 150px 0 #CFD1D3, -151px 151px 0 #CFD1D3, -152px 152px 0 #CFD1D3, -153px 153px 0 #CFD1D3, -154px 154px 0 #CFD1D3, -155px 155px 0 #CFD1D3, -156px 156px 0 #CFD1D3, -157px 157px 0 #CFD1D3, -158px 158px 0 #CFD1D3, -159px 159px 0 #CFD1D3, -160px 160px 0 #CFD1D3, -161px 161px 0 #CFD1D3, -162px 162px 0 #CFD1D3, -163px 163px 0 #CFD1D3, -164px 164px 0 #CFD1D3, -165px 165px 0 #CFD1D3, -166px 166px 0 #CFD1D3, -167px 167px 0 #CFD1D3, -168px 168px 0 #CFD1D3, -169px 169px 0 #CFD1D3, -170px 170px 0 #CFD1D3, -171px 171px 0 #CFD1D3, -172px 172px 0 #CFD1D3, -173px 173px 0 #CFD1D3, -174px 174px 0 #CFD1D3, -175px 175px 0 #CFD1D3, -176px 176px 0 #CFD1D3, -177px 177px 0 #CFD1D3, -178px 178px 0 #CFD1D3, -179px 179px 0 #CFD1D3, -180px 180px 0 #CFD1D3, -181px 181px 0 #CFD1D3, -182px 182px 0 #CFD1D3, -183px 183px 0 #CFD1D3, -184px 184px 0 #CFD1D3, -185px 185px 0 #CFD1D3, -186px 186px 0 #CFD1D3, -187px 187px 0 #CFD1D3, -188px 188px 0 #CFD1D3, -189px 189px 0 #CFD1D3, -190px 190px 0 #CFD1D3, -191px 191px 0 #CFD1D3, -192px 192px 0 #CFD1D3, -193px 193px 0 #CFD1D3, -194px 194px 0 #CFD1D3, -195px 195px 0 #CFD1D3, -196px 196px 0 #CFD1D3, -197px 197px 0 #CFD1D3, -198px 198px 0 #CFD1D3, -199px 199px 0 #CFD1D3, -200px 200px 0 #CFD1D3, -201px 201px 0 #CFD1D3, -202px 202px 0 #CFD1D3, -203px 203px 0 #CFD1D3, -204px 204px 0 #CFD1D3, -205px 205px 0 #CFD1D3, -206px 206px 0 #CFD1D3, -207px 207px 0 #CFD1D3, -208px 208px 0 #CFD1D3, -209px 209px 0 #CFD1D3, -210px 210px 0 #CFD1D3, -211px 211px 0 #CFD1D3, -212px 212px 0 #CFD1D3, -213px 213px 0 #CFD1D3, -214px 214px 0 #CFD1D3, -215px 215px 0 #CFD1D3, -216px 216px 0 #CFD1D3, -217px 217px 0 #CFD1D3, -218px 218px 0 #CFD1D3, -219px 219px 0 #CFD1D3, -220px 220px 0 #CFD1D3, 0 0 0 #CFD1D3;
}

.clear{
    position: relative;
    z-index: 1;
}

.about-me-txt .designer:before{
    background-image: -webkit-linear-gradient(270deg,#cfd1d3,#e3e4e5);
    background-image: -moz-linear-gradient(270deg,#cfd1d3,#e3e4e5);
    background-image: -o-linear-gradient(270deg,#cfd1d3,#e3e4e5);
    background-image: linear-gradient(180deg,#cfd1d3,#e3e4e5);
    content: "";
    display: block;
    position: absolute;
    transform: skew(135deg);
    height: 6.4em;
    width: 5em;
    top: 2.07em;
    left: -5.1em;
    z-index: 10;
}

footer{
    display: -webkit-flex;
    display:  flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: auto;
    z-index: 1;
}

footer ul {
    padding: 0;
}

footer ul li{
    list-style: none;
    display: inline-block;
    margin-right: 10px;
}


footer ul li a{
    position: relative;
    padding: 5px;
    text-decoration: none;
    color: #999;
}

footer ul li a:before{
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background-color: lightseagreen;
    left: auto;
    bottom: 0;
    right: 0;
    transition: all .4s ease-in-out;
}

footer ul li a:hover:before {
    width: 100%;
    right: auto;
    left: 0;
}


.hire-me-btn{
    width: 100px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: #fff;
    border: none;
    background-color: lightseagreen;
    cursor: pointer;
    font-size: 16px;
    display: block;
    padding: 0;
}
