@import url(https://fonts.googleapis.com/css?family=Roboto);
*{
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
	        font-family: 'Roboto', sans-serif;


}

body{
    padding: 30px;
}

.container{
    background-color: #f5f5f5;
    color: #565a5c;
    line-height: 1.6em;
    border-radius: 2px;

}

img{
    margin: auto;
}

strong{
    line-height: 1.6em;
}

.m-t-60{
    margin-top: 60px;
}

.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
