/* ==========================================================================
   Author's custom styles
   ========================================================================== */
html {
   overflow-x: hidden;
   scroll-behavior: smooth;
}

body {
   overflow-x: hidden;
   background: url('../img/bg-pattern.png');
}

.navbar {
   position: fixed;
   z-index: 2;
   width: 100%;
   background-color: #01030385 !important;
}

.navbar-brand {
   font-size: 16px;
   display: flex;
   align-items: center;
   color: #fff;
}

.custom-nav {
   margin-left: auto;
   margin-right: initial !important;
}

.signup-btn {
   border-radius: 30px;
   color: #fff;
   border: 1px solid #fff;
   padding: 10px 26px;
   display: inline-block;
}

/* ==========================================================================
   Hero Section styles
   ========================================================================== */

.hero-bg {
   /* background: url('../img/hero-bg.jpg') center no-repeat; */
   background: linear-gradient(180deg, rgba(0, 0, 0, 0.46) 11.27%, #000000 104.86%), url('../img/hero-bg.jpg') center no-repeat;
   padding: 15% 0;
   position: relative;
   background-size: cover;
   background-position: 50%;
   min-height: 430px;
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
}

.hero-text {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   color: #fff;
   text-align: center;
   z-index: 1;
}

.hero-bg .hero-text,
.hero-bg h1 {
   color: #fff;
   font-size: 2em;
   line-height: 1.25;
   z-index: 1;
   margin-bottom: 0;
   padding: 14px;
   text-align: center;
}

.hero-bg {
   background-attachment: fixed;
   background-position: 50% 0;
}

.hero-bg .hero-text h1 span:nth-of-type(1) {
   background: -webkit-linear-gradient(90.96deg, #E62901 9.71%, #FF9179 48.68%, #FF6F51 90.43%);
   background: linear-gradient(90.96deg, #E62901 9.71%, #FF9179 48.68%, #FF6F51 90.43%);
   -webkit-background-clip: text;
   background-clip: text;
   -webkit-text-fill-color: transparent;
}

.hero-bg .hero-text h1 span:nth-of-type(2) {
   background: -webkit-linear-gradient(270.7deg, #9B45ED -28.24%, #27B6C6 33.46%, #27B6C6 99.57);
   background: linear-gradient(270.7deg, #9B45ED -28.24%, #27B6C6 33.46%, #27B6C6 99.57%);
   -webkit-background-clip: text;
   background-clip: text;
   -webkit-text-fill-color: transparent;
}

.hero-bg .hero-text p {
   font-size: 20px;
}


.skill-btn {
   background: #fff;
   border-radius: 48px;
   color: #0A0B0D;
   border: none;
   height: 44px;
   line-height: 44px;
   padding: 0 20px;
   font-size: 18px;
   margin-top: 20px;
}

.live-stream-classes {
   background: linear-gradient(180deg, #060606 0%, rgba(17, 86, 219, 0.97) 40.18%, rgba(17, 86, 219, 0.97) 70.32%, #000000 101.51%);
   padding: 5%;
}

.display-flex {
   padding: 5% 0;
}

.display-flex h2 {
   font-size: 50px;
   font-style: normal;
   font-weight: 800;
   color: #fff;
}

.display-flex p {
   font-size: 18px;
   font-weight: 300;
   line-height: 34px;
   color: #fff;
}

.display-flex button {
   background: #fff;
   border-radius: 48px;
   color: #0A0B0D;
   border: none;
   height: 44px;
   line-height: 44px;
   padding: 0 20px;
}

.video-section{
   background-color: #000;
}
.vid-container{
   margin: 0 auto;
   text-align: center;
}

.vid-container:after{
   content: "";
   /* position: absolute; */
   background-color: #00000057;
   top: -85px;
   left: 0;
   z-index: 100;
   width: 100%;
   height: calc(100vh - 0px);
}

/* #myVideo {
   position: absolute;
   right: 0;
   bottom: 0;
   min-width: 100%;
   min-height: 100vh;
   height: 100vh;
   width: 100%;
   object-fit: cover;
} */

.content {
   position: fixed;
   bottom: 0;
   background: rgba(0, 0, 0, 0.5);
   color: #f1f1f1;
   width: 100%;
   padding: 20px;
}

@media screen and (max-width: 768px) {

   .hero-bg {
      padding: 45% 0;
   }

   .hero-bg .hero-text,
   .hero-bg h1 {
      font-size: 1.5em;
      margin-top: 2em;
   }

   .display-flex {
      text-align: center;
   }

   .display-flex h2 {
      font-size: 2em;
      text-align: center;
   }

   .display-flex p {
      font-size: 16px;
      text-align: center;
   }

   .live-stream-classes {
      padding-top: 2em;
   }

   .display-flex img {
      width: 100%;
      padding: 15% 10%;
   }

   .mobile-order {
      order: 1;
   }

   #myVideo {
      width: 100%;
   }

}

/* ==========================================================================
   Testimonials Section styles
   ========================================================================== */
.testimonials {
   background: linear-gradient(180deg, #000000 2.2%, #620929 100%);
   padding: 10% 0;
}

.testimonials h2 {
   padding: 10% 0 20% 20%;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 40px;
   color: #fff;
}

.shadow-effect {
   background: #fff;
   padding: 20px;
   border-radius: 20px;
   text-align: center;
   border: 1px solid #ECECEC;
   box-shadow: 0 19px 38px rgba(0, 0, 0, 0.10), 0 15px 12px rgba(0, 0, 0, 0.02);
}

#customers-testimonials .shadow-effect p {
   font-size: 17px;
   line-height: 28px;
   margin: 0 0 17px 0;
   text-align: left;
   font-weight: 300;
}

.testimonial-name {
   margin: -17px auto 0;
   display: table;
   width: auto;
   background: #3190E7;
   padding: 9px 35px;
   border-radius: 12px;
   text-align: center;
   color: #fff;
   box-shadow: 0 9px 18px rgba(0, 0, 0, 0.12), 0 5px 7px rgba(0, 0, 0, 0.05);
}

.testi-body {
   display: flex;
   justify-content: flex-start;
   align-items: center;
   padding-bottom: 30px;
}

.testi-body .testi-image img {
   border-radius: 50%;
   width: 80px;
   height: 80px;
}

.testi-body .testi-name {
   display: flex;
   flex-direction: column;
   padding-left: 20px;
}

.testi-body .testi-name span:nth-of-type(1) {
   font-size: 24px;
   font-weight: 800;
   line-height: 34px;
   text-align: left;
}

.testi-body .testi-name span:nth-of-type(2) {
   color: #BC0547;
   font-size: 16px;
   font-weight: 400;
   line-height: 22px;
   text-align: left;
}

.footer-testi>img {
   max-width: 50px !important;
}

.owl-stage {
   right: -100px;
}

#customers-testimonials .item {
   text-align: center;
   padding: 30px;
   margin-bottom: 20px;
   opacity: 1;
   /* -webkit-transform: scale3d(0.8, 0.8, 1);
   transform: scale3d(0.8, 0.8, 1); */
   -webkit-transition: all 0.3s ease-in-out;
   -moz-transition: all 0.3s ease-in-out;
   transition: all 0.3s ease-in-out;
}

#customers-testimonials .owl-item.active.center .item {
   opacity: 1;
   -webkit-transform: scale3d(1.0, 1.0, 1);
   transform: scale3d(1.0, 1.0, 1);
}

#customers-testimonials .owl-item.active .item {
   opacity: .1;
   -webkit-transform: scale3d(1.0, 1.0, 1);
   transform: scale3d(1.0, 1.0, 1);
}

.owl-carousel .owl-item img {
   transform-style: preserve-3d;
   max-width: 90px;
   margin-left: auto;
}


.owl-carousel .nav-btn {
   height: 55px;
   width: 75px;
   margin: -5px;
}

.owl-carousel .owl-prev.disabled,
.owl-carousel .owl-next.disabled {
   pointer-events: none;
   opacity: 0.2;
}

.owl-carousel .prev-slide {
   background: url('../img/nav-icon-left.png') no-repeat scroll;
}

.owl-carousel .next-slide {
   background: url(../img/nav-icon-right.png) no-repeat scroll;
}

.owl-theme .owl-nav [class*=owl-]:hover {
   background: none;
   color: #FFF;
   text-decoration: none;
}

.owl-theme .owl-nav {
   max-width: 361px;
   margin: 0 130px 0 auto;
}

@media screen and (max-width: 768px) {
   .testimonials h2 {
      padding: 0 5%;
      text-align: center;
   }

   .testimonials h2 br {
      display: none;
   }

   #customers-testimonials .item {
      padding: 15px;
   }

   .owl-stage {
      right: initial;
   }

   .owl-theme .owl-nav {
      display: none;
   }

}


/* ==========================================================================
   FAQ Section styles
   ========================================================================== */

.faq-section {
   background: linear-gradient(358.75deg, #C01B56 -0.17%, #BB0244 60.99%, #7D0731 83.7%, #630929 99.08%);
   padding: 5%;
}

.faq-section h2 {
   padding: 4% 0;
   color: #fff;
}

.faq-section #faq .card {
   margin-bottom: 30px;
   border: 0;
   border-radius: 8px;
}

.faq-section #faq .card .card-header {
   border: 0;
   border-radius: 2px;
   padding: 0;
}

.faq-section #faq .card .card-header .btn-header-link {
   color: #fff;
   display: block;
   text-align: left;
   color: #222;
   padding: 30px 20px;
   opacity: 0.8;
   background-color: #f2cfdc;
   position: relative;
}

.faq-section #faq .card .card-header .btn-header-link::before {
   content: '';
   border-left: 3px solid #202C39;
   position: absolute;
   left: 1px;
   top: 50%;
   height: 45px;
   transform: translate(0, -50%);
}

.faq-section #faq .card .card-header .btn-header-link:after {
   content: "";
   background: url('../img/angle-up.png');
   width: 28px;
   height: 28px;
   transform: scale(.7);
   float: right;
}

.faq-section #faq .card .card-header .btn-header-link.collapsed {
   color: #0A0B0D;
   opacity: 0.8;
}

.faq-section #faq .card .card-header .btn-header-link.collapsed:after {
   content: "";
   background: url('../img/angle-down.png');
   width: 28px;
   height: 28px;
   transform: scale(.7);
   float: right;
}

.faq-section #faq .card .collapsing {
   line-height: 30px;
}

.faq-section #faq .card .collapse {
   border: 0;
}

.faq-section #faq .card .collapse.show {
   line-height: 30px;
   color: #222;
}

/* ==========================================================================
   Footer Section styles
   ========================================================================== */
footer {
   background: linear-gradient(180deg, #C10046 7.96%, #8E0033 41.15%, #730029 71.41%, #0A0B0D 132.86%);
   padding: 5% 5% 10% 5%;
   color: #fff;
}

footer .footer-links {
   padding: 0;
   margin-top: 30px;
}

footer .footer-links li {
   list-style: none;
   margin: 15px 0;
}

footer .footer-links li a {
   color: #fff;
   text-decoration: none;
   font-size: 16px;
   font-weight: 400;
   line-height: 20px;
   text-align: center;
}

footer .address-bar h4 {
   margin-bottom: 30px;
}

footer hr {
   background-color: #FFFFFF;
   margin-top: 50px;
}

.copyright-info {
   text-align: center;
   color: #fff;
   margin-top: 50px;
}

@media screen and (max-width: 768px) {
   footer {
      text-align: center;
   }

   footer .footer-links {
      margin-top: 50px;
   }

   footer .address-bar h4 {
      margin-top: 30px;
   }
}